.header {
  background-color: rgb(15, 49, 71);
  color: rgb(248, 241, 241);
  min-height: 7rem;
  height: auto;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  align-items: center;

  h1 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 1rem;

      a {
        font-size: 1.3rem;
      }

      a:hover {
        font-size: 1.4rem;
      }
    }
  }
}
