.Container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: auto;

  border: 0.3rem solid black;
  border-radius: 0.3rem;
  margin: 1rem;
  padding: 1rem;

  p {
    font-size: 0.2rem;
  }

  button {
    height: 3rem;
    width: 15rem;

    margin-top: 1rem;

    cursor: pointer;

    a {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .Container {
    justify-content: center;
    width: auto;
    margin: 1rem 0px;

    padding: 1rem 0rem;

    button {
      width: auto;
      text-align: center;

      width: 7rem;
    }
  }
}
