.Container {
  display: flex;
  flex-direction: column;

  text-align: center;

  height: auto;

  margin: 3rem;
  padding: 2rem;

  border: 0.2rem solid black;
  border-radius: 0.3rem;

  p {
    font-size: 2rem;
    font-weight: 600;
  }

  div {
    //aqui
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    p {
      font-size: 1.3rem;
      font-weight: 400;
    }
  }
}
