.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .apresenta {
    h1 {
      margin-bottom: 5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .apresenta,
  figure {
    width: 45vw;

    margin: 1rem;
  }
}

@media screen and (max-width: 815px) {
  .Container {
    flex-direction: column;

    .apresenta,
    figure {
      width: auto;

      margin: 1rem;
    }
  }
}
